<div>
    <img src="img/20160512134335!Instagram_logo.svg" alt="">
    <form action="/users" method="POST">
        <input type="text" placeholder="Phone number or Email" name="email">
        <input type="text" placeholder="Full name" name="fullName">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <button type="submit">Sign up</button>
    </form>
    <p>Have an account? <span>Log in</span></p>
</div>